.navigationbar {
    overflow: hidden;
    background-color: black;
}

.navigationbar a {
    color: white;
    float: left;
    display: block;
    text-align: center;
    padding: 1% 2%;
    text-decoration: none;
}

.navigationbar a {
    display: inline-block;
    border-radius: 2%;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 100%;
    padding: 3%px;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0.4%;
}



.navigationbar a:hover {
    background-color: gray;
    color: black;
}